body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 350px;
    height: 500px;
    border: 8px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.display {
    border: 4px solid rgb(29, 32, 32);
    background-color: rgb(89, 96, 99);
    border-top: 8px;
    opacity: .5;
    flex: 3 1 auto
}

.row {
    display: flex;
    flex: 1 1 auto;
}

.button {
    flex: 1 1 0;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(126, 202, 228);
    font-size: larger;
    opacity: .6;
}

.button.operate {
    background-color: rgb(240, 175, 62);
}

.button:hover {
    opacity: .8;
}

.button:active {
    background-color: white;
}